<div class="row g-0">
  <div class="col-12 col-md-8">
      <app-custom-carousel />
  </div>
  <div class="col-12 col-md-4 p-5 d-flex flex-column justify-content-between align-items-center">
      <form class="w-100 my-auto" [formGroup]="forgotPassForm">
          <div class="mb-5">
              <div class="general-success-wrapper" *ngIf="message != '' && forgotPasswordSuccess">
                  <div class="general-success">{{message}}</div>
              </div>
              <h1 class="text-center header-text">Forgot Password</h1>
              <p class="text-center">Enter your email address you've using for your account below and we will send you
                  a password reset link.</p>
          </div>
          <div class="d-flex flex-column">
              <mat-label>Email Address</mat-label>
              <mat-form-field appearance="outline">
                  <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
                  @if (commonFunctionService.controlValidity(forgotPassForm, 'email')) {
                  <mat-error>
                      {{ commonFunctionService.getErrorMessage(forgotPassForm, 'email', 'Email Address') }}
                  </mat-error>
                  }
              </mat-form-field>
              <button mat-stroked-button extended color="warn" class="outline-btn" (click)="submit()"> Reset my
                  Password </button>
              <div class="d-flex flex-column justify-content-center align-items-center mt-3">
                  <a class="link-underline-opacity-0 link-underline-light" [routerLink]="['/']">Login</a>
              </div>
          </div>
      </form>
      <a class="link-dark link-underline-opacity-0" href="#">Privacy Policy</a>
  </div>
</div>
