.profile-img {
  height: 100%;
  width: 50px;
  border-radius: 60%;
  margin-right: 2px;
}

.ml-0 {
  margin-left: 0px !important;
}

.current-date {
  font-size: 1rem;
  font-weight: 500;
}


.navbar-shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;  /* Ensure it stays above other content */
}

.navbar {
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  background-color: white; /* Ensure it has a background color */
  z-index: 1000; /* Make sure it stays above other content */
}
