<div class="transfer-list-container">
  <div class="col-12 col-md-6 transfer-list">
    <h3>Available Skills</h3>
    <mat-list>
      <mat-list-item *ngFor="let skill of availableSkills" (click)="selectItem(skill)" class="transfer-list-item">
        {{ skill.skillName }}
      </mat-list-item>
    </mat-list>
  </div>
  <div class="col-12 col-md-6 transfer-list">
    <h3>Selected Skills</h3>
    <mat-list>
      <mat-list-item *ngFor="let skill of selectedSkills" (click)="deselectItem(skill)" class="transfer-list-item">
        {{ skill.skillName }}
      </mat-list-item>
    </mat-list>
  </div>
</div>
<div class="d-flex justify-content-end">
  <button (click)="onCancelClick()" mat-stroked-button extended color="warn" class="outline-btn mt-2 me-5" style="width: 150px;"> Close </button>
</div>


