.transfer-list-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.transfer-list {
  width: 48%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}

.transfer-list mat-list-item {
  cursor: pointer;
}

.transfer-list-item:hover {
  background-color: orange;
}
