<h2 mat-dialog-title>Change Password</h2>
<form  class="w-100 my-auto" [formGroup]="changePasswordForm">
  <div class="d-flex flex-column">
    <mat-dialog-content>

      <div class="form-field-wrapper">
        <mat-form-field appearance="outline" class="example-full-width">
          <!-- <mat-label>New Password</mat-label> -->
          <input [type]="oldPasswordHide ? 'password' : 'text'" matInput formControlName="oldPassword" placeholder="Enter Old Password">
          <mat-icon matSuffix (click)="oldPasswordHide = !oldPasswordHide">{{oldPasswordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
          @if (commonFunctionService.controlValidity(changePasswordForm, 'oldPassword')) {
          <mat-error>
              {{ commonFunctionService.getErrorMessage(changePasswordForm, 'oldPassword', 'Old Password') }}
          </mat-error>
          }
        </mat-form-field>
      </div>

      <div class="form-field-wrapper">
        <mat-form-field appearance="outline" class="example-full-width">
          <!-- <mat-label>New Password</mat-label> -->
          <input [type]="newPasswordHide ? 'password' : 'text'" matInput formControlName="newPassword"
          (keyup)="checkPasswordSmilarity()" placeholder="Enter New Password">
          <mat-icon matSuffix (click)="newPasswordHide = !newPasswordHide">{{newPasswordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
          @if (commonFunctionService.controlValidity(changePasswordForm, 'newPassword')) {
          <mat-error>
              {{ commonFunctionService.getErrorMessage(changePasswordForm, 'newPassword', 'New Password') }}
          </mat-error>
          }
        </mat-form-field>
      </div>

      <div class="form-field-wrapper">
        <mat-form-field appearance="outline" class="example-full-width">
          <!-- <mat-label>Confirm Password</mat-label> -->
          <input [type]="confirmPasswordHide ? 'password' : 'text'" matInput formControlName="confirmPassword" (keyup)="checkpassword()"
            placeholder="Enter Confirm Password">
          <mat-icon matSuffix (click)="confirmPasswordHide = !confirmPasswordHide">{{confirmPasswordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
          @if (commonFunctionService.controlValidity(changePasswordForm, 'confirmPassword')) {
          <mat-error>
              {{ commonFunctionService.getErrorMessage(changePasswordForm, 'confirmPassword', 'Confirm Password') }}
          </mat-error>
          }
        </mat-form-field>
      </div>

    </mat-dialog-content>
    <mat-dialog-actions class="justify-content-center">
      <button mat-stroked-button extended  class="outline-btn save-button" (click)="onCancelClick()"> Cancel </button>
      <button  mat-stroked-button extended color="warn" class="outline-btn" (click)="onChangePasswordClick()"> Change Password </button>
    </mat-dialog-actions>
  </div>
</form>

