.custom-add-button {
  background-color: white !important; /* Ensure background is white */
  border: 1px solid orange !important; /* Orange border */
  color: orange !important; /* Orange font color */
}

.custom-add-button:hover {
  background-color: orange !important; /* Light orange background on hover */
  color: white !important;
}


.save-button {
  color: #757575 !important;
  border-color: #757575 !important;
}


.dialog-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.dialog-actions {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1rem; /* Adds some space between the buttons */
}

.outline-btn {
  margin: 0.5rem;
}



