.location-tag {
  right: 1rem;
  top: 1rem;
}

.no-mission-text {
  font-size: 24px;
  font-weight: bold;
  color: orange;
  width: 100%;
  text-align: center;
}

.icon-tags {
  right: 1rem;
  top: 175px;
}

.theme-tag {
  left: 40%;
  top: 315px;
}

.card-img {
  height: 330px;
}

.list-img {
  height: 258px;
}

.end-76 {
  right: 76% !important;
}

.theme-list-tag {
  top: 93%;
  left: 8.5%;
}

button {
  cursor: pointer;
}
.star{
  color : #ffb413
}
